@import "vars";

.character-header {
  margin: 0;
  padding: 0;
  padding: 30px 0;
}

.characters-nav {
  padding-bottom: 15px;

  .nav {

    &__title-link {
      display: flex;
      align-items: center;
      gap: 417px;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 6px;
      text-decoration: none;

      span {
        font-family: $font;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.94px;
        color: $black;
      }
    }

    &__title {
      font-family: $font;
      font-size: 24px;
      font-weight: 700;
      line-height: 29.26px;
      color: $black;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__form {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 35px 0;
     

      div {
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        color: $black;
      }

      #character-name  {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        border-color: hsla(0, 0%, 50%, 0.407);
        border-radius: 5px;
        color: $second-black;
        width: 370px;
        padding: 11px 13px;
      }

      #character-race {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        border-color: hsla(0, 0%, 50%, 0.407);
        border-radius: 5px;
        color: $second-black;
        width: 270px;
        padding: 11px 13px;
      }

      #character-status {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        border-color: hsla(0, 0%, 50%, 0.407);
        border-radius: 5px;
        color: $black;
        width: 270px;
        padding: 11px 13px;
      }
    }

    &__btn-parent {
      display: flex;
      gap: 15px;
      padding-top: 20px;

      div {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
    
  }
}

.inner {
  padding: 0;
}

.character {

  &__card {
    transition: all 1.4s ease;

    &:hover {
      box-shadow: 17px 21px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }

  .card {
    display: flex;
    border: 1px dashed hsla(240, 100%, 50%, 0.269);
    border-radius: 4px;
    margin-bottom: 35px;
    width: 1170px;
  
    span {
      font-family: $font;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.63px;
      color: $second-black;
      margin-right: 13px;
    }

    strong {
      font-family: $font;
      font-size: 14px;
      font-weight: 500;
      line-height: 17.07px;
      color: $black;
    }

    &__img {
      margin-right: 15px;

      .character-img {
        width: 180px;
        height: 210px;
      }
    
      .character-name {
        font-family: $font;
       font-size: 20px;
       font-weight: 700;
       line-height: 24.38px;
       color: $black;
      }

      .race {
        span {
          margin-right: 125px;
        }
      }
    }

    &__inform {
      display: flex;
      align-items: center;
    }

    &__inform-inner {
      display: flex;
    }

  &__btn-status {
    text-align: right;
    width: 600px;
   
    .character-status {
      text-align: right;
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.07px;
      color: $black;
      margin-right: 10px;
      margin-bottom: 82px;
    }

    .card-btn {
      width: 241px;
      padding: 12px 13px 12px 13px;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 700;
      line-height: 18.29px;
      color: $white;
      background-color: #00A3FF;
      cursor: pointer;
      border: none;
      border-radius: 4px;
    }
  }

  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  .card {
    position: relative;
    width: 560px;
    min-height: 164px;
    transition: all 1s ease;

    &:hover {
      box-shadow: 17px 21px 8px 0px hsla(204, 26%, 4%, 0.235);

      .hidden {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .character-img {
    width: 220px;
    height: 210px;
  }

  .gender-episode {
    display: none;
  }

  .character-status {
    position: absolute;
    top: 20px;
    right: 2px;
  }

  .card-btn {
    opacity: 0;
    visibility: hidden;
  }

  .card-btn-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00A3FF;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    top: -20px;
    right: -24px;
    cursor: pointer;
    box-shadow: 12px 8px 8px 0px hsla(206, 30%, 9%, 0.496);
  }

}

.alive {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 30px;
    top: 4px;
    right: 50px;
  }
}

.dead {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 30px;
    top: 4px;
    right: 50px;
  }
}

.unknown {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #FFC803;
    border-radius: 30px;
    top: 4px;
    right: 85px;
  }
}

.btn-indicator {
  fill: #FF0000;
}

